
body {
  width: 400px;
  height: 500px;
  padding: 20px;
}

#loader {
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  justify-content: center;
  margin-top: 4rem;
  padding: 2rem 1rem;
}

#loader svg,div {
  margin-left: auto;
  margin-right: auto;
}